body{
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    
}

a {
    color: blue;
}

h1 {
    text-align: center;

}

.container {
    max-width: 600px;
    margin: auto;
    background:ffffff;
    padding: 100px;
    border-radius: 20px;
    text-align: center;
}

div {
    transition: transform 0.3s ease;
}

div:hover {
    transform: scale(1.05);
}


.btnformat {
    border-radius: 10px;
    text-align: center;
    margin: auto;
    padding: 15px;
    font-size:15px;    

}

p{
    font-size: 13px;
    text-align: center;
}

footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    font-size: center;
    font-weight: bold;
    font-size: 13px;
    color: rgba (0, 0, 0, 0.6);
}